@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000ef;
}

#header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color:white;
  margin-bottom: 0px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
}

#date-count-container {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
#todayDate{
  font-size: 17px;
}
#count {
  font-size: 15px;
  display: flex;
  gap: 15px;
}

#list {
  list-style: none;
}

#list li {
  font-size: 15px;
  font-weight: bold;
  background: #2c2c2c;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-bottom: 5px;
}

.explain {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px;
  background-color: white;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255, 0, 128, 0.3);
}

/* 체크박스 선택 시 */
input[type="checkbox"]:checked {
  background-color: #ed1e85;
  border-color: #f34da0;
  box-shadow: 0px 0px 10px rgba(255, 0, 128, 0.7);
}


input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: translate(-50%, -50%) rotate(-45deg)
}

#todoPost{
  margin-top: 20px;
  margin-bottom: 15px;
  position:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


button{
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#todoRecord{
  width: 60%;
  padding: 12px;
  border-radius: 8px;
}
